	<div class="gcm-page" ng-controller="ControllerMain">
		<!-- Add new top controls -->
		<div class="gcm-top-controls">
			<div class="gcm-control-icon" ng-click="ToggleGamemodes()">
				<img ng-src='../gamemodes/{{Gamemode}}/icon24.png'>
			</div>
			<div class="gcm-control-icon" ng-click="ToggleLanguage()">
				<img ng-src='../resource/localization/{{Language}}.png'>
			</div>
			<div class="gcm-control-icon" ng-click="ToggleGames()">
				<img src='img/games.png'>
			</div>
			<div class="gcm-control-icon" ng-click="TogglePopup('.kinect_settings')" ng-show="kinect.available">
				<img ng-src='img/kinect.png'>
			</div>
		</div>
		
		<div class="gcm-menu-container">
			<div class="gcm-logo-container">
				<img class="gcm-animgm" ng-src='../gamemodes/{{Gamemode}}/logo.png' />
			</div>
			
			<!-- Inside gcm-menu-container -->
			<div class="gcm-section-title">Main Actions</div>
			<div class="gcm-primary-actions">
				<div class="gcm-btn-primary" ng-show="InGame">
					<img src="img/main/menu/back.png" />
					<a ng-click="BackToGame()" ng-Tranny="'resume_game'"></a>
				</div>
				
				<div class="gcm-btn-primary">
					<img src="img/computer.png" />
					<a ng-href="#/newgame/" ng-Tranny="'new_game'"></a>
				</div>
				
				<div class="gcm-btn-primary">
					<img src="img/server.png" />
					<a ng-href="#/servers/" ng-Tranny="'find_mp_game'"></a>
				</div>
			</div>

			<div class="gcm-section-title">Tools & Content</div>
			<div class="gcm-secondary-actions">
				<div class="gcm-btn-secondary">
					<img src="img/puzzle.png" />
					<a ng-href="#/addons/" ng-Tranny="'addons'"></a>
				</div>
				
				<div class="gcm-btn-secondary">
					<img src="img/dupes.png" />
					<a ng-href="#/dupes/" ng-Tranny="'dupes'"></a>
				</div>
				
				<div class="gcm-btn-secondary">
					<img src="img/disk.png" />
					<a ng-href="#/saves/" ng-Tranny="'saves'"></a>
				</div>
				
				<div class="gcm-btn-secondary">
					<img src="img/play-circle.png" />
					<a ng-href="#/demos/" ng-Tranny="'demos'"></a>
				</div>
			</div>

			<div class="gcm-section-title">System</div>
			<div class="gcm-system-actions">
				<div class="gcm-btn-system">
					<img src="img/main/menu/settings.png" />
					<a ng-click="MenuOption( this, 'OpenOptionsDialog')" ng-Tranny="'options'"></a>
				</div>
				
				<div class="gcm-btn-system" ng-show="InGame">
					<img src="img/main/menu/left-arrow.png" />
					<a ng-click="MenuOption( this, 'engine disconnect');" ng-Tranny="'disconnect'"></a>
				</div>
				
				<div class="gcm-btn-system">
					<img src="img/main/menu/close.png" />
					<a ng-click="MenuOption( this, 'Quit')" ng-Tranny="'quit'"></a>
				</div>
			</div>
		</div>

		<div class="news-container" ng-hide="NewsList.length == 0">
			<div class="news_item" style="{{NewsItemBackground( CurrentNewsItem.HeaderImage )}}">
				<div>
					<span ng-click="OpenInSteam( CurrentNewsItem.Url )">{{CurrentNewsItem.Title}}</span>
					<font>{{CurrentNewsItem.SummaryHtml}}</font>
				</div>
			</div>
			<div class='news_buttons'>
				<div class="{{IfElse( NewsItem.Url == CurrentNewsItem.Url, 'selected', '' )}}" 
					 ng-repeat="NewsItem in NewsList | orderBy: 'Date'" 
					 ng-click="SelectItem(NewsItem)">
				</div>
			</div>
		</div>

		<!-- Keep the popup menus but update their positioning -->
		<ul class="gamemode_list popup">
			<li ng-repeat="gm in Gamemodes|filter:{menusystem:true}|orderBy:'name'" ng-click="SelectGamemode( gm )">
				<img ng-src='../gamemodes/{{gm.name}}/icon24.png'><span>{{gm.title}}</span>
			</li>
		</ul>

		<ul class="language_list popup">
			<li ng-repeat="lang in Languages" ng-click="SelectLanguage( lang )">
				<img ng-src='../resource/localization/{{lang}}.png'>
			</li>
		</ul>

		<!-- ... other popups ... -->
	</div>
