<html>
<head>

	<title>Garry's Mod Main Menu</title>

	<link rel="stylesheet" type="text/css" href="css/menu/Menu.css" />
	<link rel="stylesheet" type="text/css" href="css/menu/PageOptions.css" />
	<link rel="stylesheet" type="text/css" href="css/menu/NewGame.css" />
	<link rel="stylesheet" type="text/css" href="css/menu/Servers.css" />
	<link rel="stylesheet" type="text/css" href="css/Workshop.css" />

	<script type="text/javascript" src="js/lua.js"></script>

	<script type="text/javascript" src="js/thirdparty/jquery.js"></script>
	<script type="text/javascript" src="js/thirdparty/jquery-color.js"></script>
	<script type="text/javascript" src="js/thirdparty/angular.js"></script>
	<script type="text/javascript" src="js/thirdparty/angular-ui.js"></script>

	<script type="text/javascript" src="js/menu/WorkshopFiles.js"></script>
	<script type="text/javascript" src="js/menu/Subscriptions.js"></script>
	<script type="text/javascript" src="js/menu/menuApp.js?2"></script>
	<script type="text/javascript" src="js/menu/control.Menu.js?2"></script>
	<script type="text/javascript" src="js/menu/control.Main.js?2"></script>
	<script type="text/javascript" src="js/menu/control.NewGame.js"></script>
	<script type="text/javascript" src="js/menu/control.Servers.js"></script>
	<script type="text/javascript" src="js/menu/control.Addons.js"></script>
	<script type="text/javascript" src="js/menu/control.Demos.js"></script>
	<script type="text/javascript" src="js/menu/control.Saves.js"></script>
	<script type="text/javascript" src="js/menu/control.Dupes.js"></script>

	<script type="text/javascript" src="js/svc.Tranny.js"></script>

	<script type="text/javascript" src="js/menu/TestData.js"></script>
	<script type="text/javascript" src="js/menu/TestServers.js"></script>
	<script type="text/javascript" src="js/menu/TestWorkshop.js"></script>

</head>

<body ng-app="MenuApp" ng-controller="MenuController">

<div id="version" ng-click="ShowNews()" ng-show="Branch"><span ng-show="Branch != 'unknown'">You are on the {{Branch}} branch. Click here to find out more. ( </span>{{Version}}<span ng-show="Branch != 'unknown'"> )</span></div>

<div ng-view>

</div>

<!-- Remove the entire NavBar div and its contents -->
<div id="NavBar">
    <!-- Remove all this content -->
</div>

<!-- Remove the middle-nav div and its contents -->
<div class="middle-nav">
    <!-- Remove all this content -->
</div>

<!-- Keep only these popup menus but move them outside the NavBar -->
<ul class="gamemode_list popup gamemode-sm">
	<li ng-repeat="gm in Gamemodes|filter:{menusystem:true}|orderBy:'name'" ng-click="SelectGamemode( gm )">
		<img ng-src='../gamemodes/{{gm.name}}/icon24.png'><span>{{gm.title}}</span>
	</li>

</ul>

<ul class="language_list popup language-sm">
	<li  ng-repeat="lang in Languages" ng-click="SelectLanguage( lang )">
		<img ng-src='../resource/localization/{{lang}}.png'>
	</li>
</ul>

<ul class="games_list popup">

	<li class="notowned"><img src='img/notowned.png' width="16" height="16"> <span ng-Tranny="'game_not_owned'"></span></li>
	<li class="notinstalled"><img src='img/notinstalled.png' width="16" height="16"> <span ng-Tranny="'game_not_installed'"></span></li>
	<hr/>
	<li ng-repeat="game in Games|orderBy:'title'" class="{{IfElse( !game.owned, 'notowned', '' )}} {{IfElse( !game.installed, 'notinstalled', '' )}}">
		<input type=checkbox ng-model="game.mounted" ng-show="game.installed" ng-change="GameMountChanged( game )"/>
		<img src='img/notowned.png' ng-show="!game.owned" width="16" height="16">
		<img src='img/notinstalled.png' ng-show="game.owned && !game.installed" width="16" height="16">
		<img ng-src='../materials/games/16/{{game.folder}}.png' style="margin-left: 20px;">
		<span style="margin-left: 16px;">{{game.title}}</span>
	</li>

</ul>

<ul class="kinect_settings popup">

	<li>
		<div>

			<p>
				<label style="display: block">
					<input type="checkbox" ng-model="kinect.show_color" ng-change="kinect.update()">  <span ng-Tranny="'motionsensor.showcolor'"></span>
				</label>
			</p>


			<div ng-show="kinect.show_color">

				<span ng-Tranny="'motionsensor.colorpos'"></span>

				<p style="margin-left: 5px;">
					<label ng-repeat="option in kinect.color_options" style="display: block">
						<input type="radio" name="kinect.color" ng-model="kinect.color" value="{{option}}" ng-change="kinect.update()">
						<span ng-Tranny="'motionsensor.showcolor.'+ option"></span>
					</label>
				</p>
			</div>

			<div  ng-show="kinect.show_color">
				<span ng-Tranny="'motionsensor.colorsize'"></span>

				<p style="margin-left: 5px;">
					<label ng-repeat="option in kinect.size_options" style="display: block">
						<input type="radio" name="kinect.color_size" ng-model="kinect.color_size" value="{{option}}" ng-change="kinect.update()">
						<span ng-Tranny="'motionsensor.colorsize.'+ option"></span>
					</label>
				</p>
			</div>

		</div>

	</li>

</ul>
<div id="srv-banner" class="srv-banner" style="opacity:0.8;">
	<center>
		<img id="srv-prev" src="https://gaerisson-softs.fr/logos/gmodmenu/banner.php" />
	</center>
</div>

</body>
</html>
